# Created by .ignore support plugin (hsz.mobi)

# Logs
logs/
npm-debug.log*
*-lock.json


# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Other project files
.tern-project
.vscode
